
h1, h2 {
    
        font-family: "Just Another Hand", serif;
        font-weight: 400;
        font-style: normal;

}

h3, p {
      
        font-family: "Livvic", serif;
        font-weight: 400;
        font-style: normal;
      }
      

.rounded-2xl {
  border-radius: 1rem !important;
}


button {
  font-family:  "Livvic" , serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(224, 222, 222);
}

      
      

  